.wp-admin ul.formscrm-list-crm {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.settings_page_formscrm {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.settings_page_formscrm > div {
	width: 35%;
	padding: 0 20px;
}

.settings_page_formscrm .settings {
	width: 18%;
}

.formscrm-header {
	background: #F7C440 url( 'background.svg' );
	margin-left: -20px;
	padding: 20px 15%;
	display: flex;
	justify-content: space-between;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}
.formscrm-header .logo {
	min-width: 20%;
}
.formscrm-header h2 {
	float: right;
	color: white;
	padding: 10px 0 0 30px;
	margin: 0;
}