<?xml version="1.0"?>
<ruleset name="Coding Standards for FormsCRM">
	<description>Ruleset for Coding Standards in FormsCRM.</description>

	<exclude-pattern>*/tests/*</exclude-pattern>

	<rule ref="WordPress">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
	</rule>
</ruleset>